ul.blog-types {
    list-style-type: none;
}
div.blog:not(:last-child) {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid#eee;
}
div.blog h3 {
    margin-top: 0.5em;
}

p.blog-info {
    margin-bottom: 0;
}

ul.blog-info-description {
    list-style-type: none;
    margin-bottom: 1em;
}

ul.blog-info-description li {
    display: inline-block;
    margin-right: 1em;
}
div.blog-content {
    text-indent: 2em;
}
nav.paninator-66666 {
    text-align: center;
}
div.more {
    margin-top: 1em;
}

div.comment-area {
    margin-top:2em;
}

h3.comment-area-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.4em;
}