{% extends 'base.html' %}
{% block title %}{{blog.title}}{% endblock %}
{% block nav_blog_active %}active{% endblock %}

{% load staticfiles%}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}

{# 页面内容 #}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h3>{{ blog.title }}</h3>
                <ul class="blog-info-description">
                    <li>作者：{{ blog.author}}</li>
                    <li>分类：<a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a></li>
                    <li>发表日期：{{ blog.created_time|date:"y-m-d H:i:s" }}</li>
                    <li>阅读({{ blog.get_read_num }})</li>
                    <li>今日阅读（{{ blog.get_today_read_num }}）</li>
                </ul>
                <div class="blog-content">{{ blog.content|safe }}</div>
                <div class="more">
                    <p>上一篇：
                        {% if previous_blog %}
                            <a href="{% url 'blog_detail' previous_blog.pk %}">{{ previous_blog.title }}</a>
                        {% else %}
                            没有了
                        {% endif %}
                    </p>
                    <p>下一篇：
                        {% if next_blog %}
                            <a href="{% url 'blog_detail' next_blog.pk %}">{{ next_blog.title }}</a>
                        {% else %}
                            没有了
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="comment-area">
                    <h3 class="comment-area-title">提交评论区</h3>
                    {% if user.is_authenticated %}
                        <form action="{% url 'update_comment' %}" method="post" style="overflow:hidden">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="comment_text">{{ user.username }}，欢迎评论~</label>
                                <textarea id="comment_text" class="form-control" name="text" rows="4"></textarea>
                            </div>
                            <input type="hidden" name="object_id" value="{{ blog.pk }}">
                            <input type="hidden" name="content_type" value="blog">
                            <input type="submit" value="评论" class="btn btn-primary" style="float:right">
                        </form>
                    {% else %}
                        未登录,登录后方可评论~
                        <a class="btn btn-primary" href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
                        <span>or</span>
                        <a class="btn btn-danger" href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
                    {% endif %}
                </div>
                <div class="comment-area" style="padding-bottom: 3em;">
                    <h3 class="comment-area-title">评论列表区域</h3>
                        {% for comment in comments %}
                            <div>
                                {{ comment.user }}
                                ({{ comment.comment_time|date:"y-m-d H:i:s" }}):
                                {{ comment.text }}
                            </div>
                        {% empty %}
                            暂无评论
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
