h3.home-content{
    font-size: 222%;
    text-align: center;
    margin-top: 6em;
    margin-bottom: 4em;
}

div#container {
    margin: 0 auto;
    height: 20em;
    min-width: 20em;
    max-width: 30em;
}

div.hot-data {
    text-align: center;
    margin-top: 2em;
}