{% extends 'base.html' %}
{% load staticfiles %}
{# 页面标题 #}
{% block title %}
    我的网站|首页
{% endblock %}
{% block header_extends%}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
{% endblock %}

{% block nav_home_active %}active{% endblock %}
{# 页面内容 #}
{% block content %}
    <h3 class="home-content">欢迎访问我的网站，随便看</h3>

        <!-- 图表容器 DOM -->
    <div id="container" style="width: 600px;height:400px;"></div>
    <div class="hot-data">
        <h3>今天的热门博客</h3>
        <ul>
            {% for hot_data in today_hot_data %}
                <li><a href="{% url 'blog_detail' hot_data.id %}">{{ hot_data.title }}</a>({{ hot_data.read_num_sum }})</li>
            {% empty %}
                <li>暂无热门博客</li>
            {% endfor %}
        </ul>
    </div>
    <div class="hot-data">
        <h3>昨天的热门博客</h3>
        <ul>
            {% for hot_data in yesterday_hot_data %}
                <li><a href="{% url 'blog_detail' hot_data.id %}">{{ hot_data.title }}</a>({{ hot_data.read_num_sum }})</li>
            {% empty %}
                <li>昨日无热门博客</li>
            {% endfor %}
        </ul>
    </div>
    <div class="hot-data">
        <h3>近7日的热门博客</h3>
        <ul>
            {% for hot_blog in hot_blogs_for_7_days %}
                <li><a href="{% url 'blog_detail' hot_blog.id %}">{{ hot_blog.title }}</a>({{ hot_blog.read_num_sum }})</li>
            {% empty %}
                <li>近7日无热门博客</li>
            {% endfor %}
        </ul>
    </div>

    <script>
        // 图表配置
        var options = {
            chart: {type: 'line'},         //指定图表的类型，默认是折线图（line）
            title: {text: "过去七日阅读量",
                    verticalAlign:"bottom",
                    style:{
                                color:"#2196F3",
                                fontWeight:"bold"
                           }
            },            // 标题
            xAxis: {categories: {{ dates|safe }},
                    tickmarkPlacement: 'on',
            }, // x 轴分类

            yAxis: {
                title: {text: null},
                labels:{enabled:false},
                gridLineDashStyle:'Dash',
            },
            series: [{                              // 数据列
                name: '阅读量',                        // 数据列名
                data: {{ read_nums }}, // 数据
            }],
            plotOptions: {
                            line: {
                                dataLabels: {
                                    enabled: true
                                }
                            }
                        },
            legend:{enabled:false},
            credits:{enabled:false},
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>

{% endblock %}
